<div class="jumbotron">
	<h1>Tim Dobbins</h1>
	<h2>Digital Product Designer</h2>
	<p>7+ years of professional experience working with Fortune 50 brands, marketing agencies, and small business entrepreneurs. </p>
	<p><%= link_to "Tim Dobbins on LinkedIn", "https://de.linkedin.com/in/timdobbins", class: "btn btn-primary" %></p>
</div>