<div class="container centered">
	<div id="profile-pic"><%= image_tag "tim-dobbins.jpg", alt: "Slide Image" %></div>
	<h1>Tim Dobbins</h1>
	<h2>Digital Experience Designer</h2>
	<p>Helping digital tranformation teams bring big concepts to life.</p>
	<p><%= link_to "LinkedIn", "https://de.linkedin.com/in/timdobbins", class: "btn btn-primary" %></p>
</div>