// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: #f6f9fc;
	font-size: 16px;
}


#profile-pic {
	width: 150px;
	margin: 0 auto;
}

#profile-pic img {
	border-radius: 50%;
	width: 100%;
}

.centered {
	text-align: center;
}

.container {
	margin-top: 80px;
	width: 400px;
}


h1 {
	color: #333;
	margin: 40px 0;
	font-size: 22px;
}

p {
	color: #333;
	margin: 0 0 40px;
}


h2 {
	font-size: 13px;
	text-transform: uppercase;
	color: #9B9FB4;
}


.btn {
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px 0px; 
	text-transform: uppercase;
	color: #535678;

} 

.btn-primary {
	background: #fff;

}

.btn-primary:hover {
	box-shadow: rgba(50, 50, 93, 0.30) 0px 4px 6px 0px;
	background: #fff;
	color: #9CA3B8;
}